name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-and-scan:
    name: Unit Tests + SonarQube + Docker + OWASP ZAP
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      # Step 3: Install dependencies and run Unit Tests with Coverage
      - name: Run Unit Tests with Coverage
        run: |
          pip install pytest flask pytest-cov
          python -m pytest src/test_secure_example.py --cov=main --cov-report=xml -v
