name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # -----------------------------
      # Run Unit Tests
      # -----------------------------
      - name: Run Unit Tests
        run: |
          pip install pytest
          python -m pytest test_secure_example.py -v

      # -----------------------------
      # SonarQube Scan
      # -----------------------------
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
